[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dpilipenka
[access "refs/for/refs/*"]
	read = group user/dpilipenka
	push = group user/dpilipenka
	label-Code-Review = -2..+2 group user/dpilipenka
	label-Verified = -1..+1 group user/dpilipenka
	rebase = group user/dpilipenka
	removeReviewer = group user/dpilipenka
	submit = group user/dpilipenka
[access "refs/heads/*"]
	read = group user/dpilipenka
	create = group user/dpilipenka
	push = +force group user/dpilipenka
	pushMerge = group user/dpilipenka
[access "refs/tags/*"]
	push = +force group user/dpilipenka
	pushTag = group user/dpilipenka
	pushSignedTag = group user/dpilipenka
